*
{
    text-align: justify;
    font-size: 12px;
    font-family: "Courier New";
}

h1 {
    font-size: 20px;
    color: red;
    font-family: "Arial";
    background: yellow;
    text-align: center;
}

.start
{
    font-size: 16px;
    font-family: "Arial";
    color: rebeccapurple;
    text-align: center;

}

.PhraseDeux
{
    margin-bottom: 20px;
    margin-top: 20px;
}


.Premiers_para
{
    font-family: Arial;
    font-size: 11px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-indent: 20px;
}

body{counter-reset: h5;}
h5:before {
    content: counter(h5) "  ";
    counter-increment: h5;
}

h5
{
    font-size: 15px;
    font-family: "Arial";
    color: blue;
    font-weight: bold;
}

.Parag1
{
    font-family: "Times New Roman";
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 1cm;
    margin-right: 1cm;
}

h3
{
    font-size: 13px;
    text-decoration: underline;
}

p
{
    text-indent: 12px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.Parag2
{
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
    text-indent: 10px;
}

.Fin
{
    margin-top: 10px;
    margin-bottom: 20px;
    color: deepskyblue;
    text-indent: -12px;
}
.Fin:before{
    content: "•";
    text-indent: -12px;
}