*
{
    color: white;
}

q
{
    color: darkslategray;
}

a{
    color: blue;
}


body
{
    background: url("/images/pingouin.png") no-repeat, paleturquoise;
    background-size: cover;
}

h1
{
    color: rebeccapurple;
}

article
{
    background: url("/images/pingouin.png") no-repeat center, rgba(255,0,255,0.3);
    opacity: 0.9;
    background-size: contain;
    margin-right: 1cm;
    margin-left: 1cm;

}

article p
{
    color: darkslategray;
}

section
{
    background: rgba(255, 0, 2, 0.3);
}