body
{
    background-color: black;
    color: white;

}

header
{
    margin-left: -0.1cm;
    margin-top: -0.25cm;
}



a{
    color: white;
}

a:hover{
    color: rebeccapurple;
}

.menu
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.menu li
{
    width: auto;
    display: flex;
    text-align: center;
    margin-right: 25px;
}

.menu li a{
    display: flex;
    background-color: rgba(220,20,120,0.5);
    padding: 10px 30px 10px 30px;
    border: 1px solid darkviolet;
}

nav
{
    width: 100%;
    display: flex;
    position: fixed;
    background: black;
    block-size: auto;
    justify-content: center;
    margin: auto;
}


p, h1, h2{
    text-align: justify;
    margin-right: 7cm;
    margin-left: 7cm;
}